*{
    margin: 0;
    padding: 0;

}
.login{
    height: 100vh;
    width: 100%;    
    display: flex;
}

.imgBox{
    background: url('./img/img1.jpg');
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 100%;
}

.loginBox{
    width: 40%;
    height: 100%;
    display: block;
    background-color: #f7f7f7;
    padding: 173px 55px 55px;

}
.textLogin{
    font-size: 30px;
    color: #333;
    line-height: 1.2;
}

.emailBox{
    /* border: #333 solid 1px; */
    border: #e6e6e6 solid 0.5px;
    border-radius: 10px;
    width: 70%;

}

.inputEmail{
    padding: 10px 50px;
    background-color: #f7f7f7 ;
    border: none;
    outline: none;

}

.passwordBox{
    /* border: #333 solid 1px; */
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: 70%;

}

.inputPassword{
    padding: 10px 50px;
    background-color: #f7f7f7 ;
    border: none;
    outline: none;

}