*{
    margin: 0;
    padding: 0;

}
.login{
    height: 100vh;
    width: 100%;    
    display: flex;
}

.imgBox{
    background: url('./img/img1.jpg');
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 100%;
    /* border: red solid 5px; */
}

.loginBox{
    width: 40%;
    height: 100%;
    /* border: red solid 5px; */
    display: block;
    background-color: #f7f7f7;
    padding: 173px 55px 55px;

}